.country-view {

  .country-wrapper {
    width: 100%;
    padding: 0 10px;

    .country-flag {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }

    .country-name {
      padding-left: 10px;
      color: #003fff;
      text-decoration: none;
    }

  }
}
