<div style="">

  <h1>FX-Calculator</h1>

  <p>
    From Country:
    <select [(ngModel)]=fromCountryIndex (change)="didChangeCountry()">
      <option *ngFor="let country of countries; index as i" [ngValue]="i">{{ country.name }} ({{ country.currency }})</option>
    </select>
  </p>

  <p>
    Amount:
    <input id="fromInput" [value]="fromAmountCents / 100 | number : '1.2-2' " (keyup)="didChangeFrom($event)" (change)="didFinishEditingFrom()" />
    {{ countries[fromCountryIndex].currency }}
  </p>

  <p>
    To Country:
    <select [(ngModel)]=toCountryIndex (change)="didChangeCountry()">
      <option *ngFor="let country of countries; index as i" [ngValue]="i">{{ country.name }} ({{ country.currency }})</option>
    </select>
  </p>

  <p>
    Amount:
    <input id="toInput" [value]="toAmountCents / 100 | number : '1.2-2' " (keyup)="didChangeTo($event)" />
    {{ countries[toCountryIndex].currency }}
  </p>

  <p>
  Date: {{ ratiosDate }}<br>
  Exchange Rate: 1 {{ countries[fromCountryIndex].currency }} = {{ fromRatio }} {{ countries[toCountryIndex].currency }}
  <span>(via EUR)</span>
  </p>

</div>
